.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
*{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
#canvas{
    background: white;
    display: block;
  }
  body{
    margin:0;
    position: relative;
  }
  #action{
    position:fixed;
    left:13px;
    top:4px;
  }
  #action>svg{
    width: 2em;
    height: 2em;
    padding: 5px;
    transition: 0.3s;
  }
  #action .active{
    box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.75);
    transform: scale(1.2);
    transition: 0.3s;
  }
  #action .red{
    fill: red;
  }
  #action .yellow{
    fill: yellow;
  }
  #action .blue{
    fill: blue;
  }
.palette{
  position: absolute;
  top: 70px;
  left: 17px;
  display: inline-block;
}
.palette>li{
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-top: 9px;
}
.palette>.black{
  background-color: black;
}
.palette>.red{
  background-color: red;
}
.palette>.yellow{
  background-color: yellow;
}
.palette>.blue{
  background-color: blue;
}
.width{
  position: fixed;
  display: flex;
  left: 200px;
  top: 14px;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.width>li{
  display: inline-block;
  border-radius: 50%;
  background-color: black;
  
}
.width>.thin{
  width: 10px;
  height: 10px;
  margin-right: 14px; 
}
.width>.thin2{
  width: 14px;
  height: 14px;
  margin-right: 12px; 
}
.width>.normal{
  width: 18px;
  height: 18px;
  margin-right: 10px; 
}
.width>.normal2{
  width: 22px;
  height: 22px;
  margin-right: 10px; 
}
.width>.thick{
  width: 26px;
  height: 26px;
  margin-right: 10px; 
}
.width .active{
  box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.75);
  transform: scale(1.2);
  transition: 0.3s;
}
.wrapButton{
  position: fixed;
  left: 113px;
  top: 10px;
}
.wrapButton>#recovery{
  width: 2em;
  height: 2em;
}
.wrapButton>#download{
  width: 2em;
  height: 2em;
  margin-left: 12px;
}